*{
  margin: 0 ;
  
}


.App {
  text-align: center;

  
}

.App-header {
  /* background-color: #282c34; */
  background: url(../src/img/bar\ 1.jpg)center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-header h1 {
  font-size: 70px;
  letter-spacing: 1cm;
}

.App-header h2{
  letter-spacing: 0.5cm;
}

/* 2 */

.thestory{
  display: flex;
  background-color:#212121 ;
  height: 120vh;

}

.jizz{
  background-color: #BB7043;
}

.ja{
  display: flex;
}
 
.covid p{
  margin-top: 0;
  padding-top: 10%;
  width: 60%;
  font-size: 20px;
  padding-left: 17%;
  padding-bottom: 10%;
}

.thestory img {
  width: 60%;
  height: 80vh;
  margin: 10% 15% 10% 40% ;
  position: absolute;
}
 

.About ul {
  padding-top: 15%;
  list-style-type: none;
  color: white;
  width: 30%;
  position: absolute;
  
}  

.one ,.cock{
  font-size: 15px;
}

.tow{
  font-size: 60px;
  padding-top: 5%;
  position: absolute;
}

.three { 
  font-size: 20px;
  padding-top: 50%;
}

.four ,.see{
  background-color: #BB7043;
  padding: 18px ;
  margin-top: 3%;
}
.every{
    display: grid;
} 

.user{
   display: inline-block; 
   width: 100%;
}  

.day{
  color: white;
  font-size: 20px;
  padding-bottom: 3%;
}

.da{
  background: url(../src/img/1.jpg) center /cover no-repeat;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day1{
  color: white;
  font-size: 20px;
  padding-bottom: 3%;
}

#jjjj{
  font-size: 30px;
  width: 100%;

}

/* section2 */

.Cocktail{
  background-color:#212121 ;
  position: absolute;
  width: 100%;
  
}

.Cocktail img{
  height: 80vh;
  margin-left: 35%;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 65%;
  
  
  
}
.Cocktail ul{
  padding-top: 15%;
  list-style-type: none;
  color: white;
  padding-left: 10%;
  position: absolute;
}
  
  

.hand{
  padding-top: 2%;
  font-size: 65px;
  width: 70%;
  position: absolute;

}

.wemix{
  margin-top: 27%;
  width: 35%;
}

/* section3 */

.Findus{
  background-color:#212121 ;
  height: 50vh;
  width: 100%;
  
}

.Findus img{
  margin-top: 20%;
  height: 100;
  width: 30vh;
  
}



 














