@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&family=Yantramanav:wght@300;400;500;900&display=swap');
                              /*((((((((( PAGE COTACT UND SHOP CSS )))))))))))*/

/* SHOP */
.shop{
    height: 95vh;
    background: url(../src/assets/img/Shop.jpg) center/cover no-repeat;
}
  
.open{
    width: 100%;
}

  /* CONTACT US */
  
.BAR{
    display: flex;
    width: 100%;
}
.BAR ul{
    margin-top: 30%;
    padding-left: 20%;
    list-style-type: none;
}
  
.contus{
    font-size: 25px;
} 
  
.cont{
    width: 50%;
    background-color: #BB7043;
}
  
.The1920, .POR, .EX{
    color: white;
    font-size: 60px;
}
  
.WANT{
    width: 90%;
    padding-top: 5%;
    font-size: 25px;
}
  
.barimg img{
 width: 100%;
height: 100%;
} 


/* newyork */
.avenue{
    background: url(../src/assets/img/Newyork.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items:center ; 
} 

.newyork{
    display: flex; 
    border: 0.3px solid black;
    background-color: #C4C4C4;
    text-align: center; 
    font-size: 50px;
    width: 30%; 
}

.newyork ul{
    list-style-type: none;
    padding-left: 5%;
}

/* gettoush */
#gettoush{
    display: flex;
    height: 90vh;
    background-color: #BB7043;
}

.getarticle{
    width: 50%;
}

#git{
    color: black;
}

#adress{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 10%;
}
#adress ul{
    list-style-type: none;
}

#adress li:nth-of-type(1){
    color: black;
    font-size: 25px;
    padding-bottom: 3%;

}
#adress li{
    color: white;
    font-size: 37px;
} 

.contact1{
    color: white;
    height: 30vh;
    margin-top: 5%;
    margin-left: 24%;
    font-size: 18px;
}

#hour{
    color: black;
    font-size: 25px;
    padding-bottom: 5%;
    margin-top: -3%;
}


#Name, #massege, #email, #mobile{
    width: 85%;
    margin-bottom: 3%;
    padding: 2%;
}

#Name{
    margin-top: 10%;
}

#massege{
    padding-bottom: 20vh;

}

#submit{
    width: 23%;
    padding: 2%;
    font-size: 20px;
    background-color: #212121;
    color: white;
} 